#Stats_Card_mainDiv{
    /* width: 100%; */
    flex: 1 1 300px;
}
.Stats_CardDiv{
    /* min-height: 6.93rem; */
    /* max-height: 8rem; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    padding: 0rem 1.5rem;
    box-sizing: border-box;
}
#Stats_Card_img_textDiv{
    display: flex;
   column-gap: 1.5rem; 
}
.Card_figure{
    color: #333333;
    font-size: 1.5rem;
    height: 8px;
}
.Card_text{
    font-size: 1.2rem;
    color: #939393;
}