#Add_Settlement_mainDiv{
    background-color:rgba(0, 0, 0, 0.3) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
}
#Add_Settlement_WrapperDiv{
   width: 35.25rem; 
   height: 408px;
   background-color: #FFFFFF;
   border-radius: 9px;
}
#Add_Settlement_header{
    height: 46px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left:1.5rem ;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    color: #003E79;
    font-size: 1rem;
}
#Add_Settlement_inputDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;
    row-gap: 30px;
    padding: 0 30px;
    box-sizing: border-box;
}
#Add_Settlement_inputDiv #warningDiv{
    display: flex;
    column-gap: 7px;
    align-items: center;
    padding-top: 7px;
    font-size: 0.9rem;
    color: #969696;
}
#btnDiv{
    display: flex;
    column-gap: 20px; 
    justify-content: end;
    padding-top: 22px;
    align-items: center;
    box-sizing: border-box;
    border-top: 0.121rem solid #E3E3E3;
    padding-right: 30px;
    box-sizing: border-box;
}
#btnDiv button{
    width: 10.62rem;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    color: #FFFFFF;
}
#btn1{
    background-color: #EB3333;
}