#ProductsMainDiv{
    min-height: 100vh;
    width: 100%;
}
#ProductsTextDiv{
    height: 240px;
    background: linear-gradient(120deg, #0B9FE1, #003E79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 0px 100px;
}
#ProductsTextDiv #homeText{
    color: #A1E2FF;
    font-size: 0.62rem;   
    text-transform: uppercase;
    margin-top: -20px;
}
#ProductsTextDiv p{
    font-size: 2.5rem;
    color: #FFFFFF;
    height: 20px;
    margin-top: 20px;
}
#list_of_AccountText{
    color: #A1E2FF;
    font-size: 0.9rem;
}

#Products_mainDiv{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -50px;
}
#Products_wrapperDiv{
    width: 87%;
    height: 70vh;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 14px;
}

#ProductsDiv{ 
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}
#ProductsText{
    color: #003E79;
    font-size: 1.2rem;
}
table{
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;
}
#headerTable{
    background-color: #F1F1F1;
    height: 43px;
}
#priceText{
    width: 214px;
}
th, td{
    padding: 0 40px;
}
th{
    text-align: left
}
tr{
    height: 58px;
    border-bottom: 1px solid #E3E3E3;
}
#action_field{
    display: flex;
    column-gap: 10px;
}

#last_Table_Line{
    border-bottom: none;
}
#action_field{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    column-gap: 10px;
}
.Acc_Transaction_btn1{
    background-color: #E4F7FF;
    color: #0B9FE1;
    border: 1px solid #A1E2FF;
    border-radius: 3px;
    height: 26px;
    cursor: pointer;
}
.Acc_Transaction_btn2{
    background-color:#FFEFEF;
    border: 1px solid #EB3333;
    color: #EB3333;
    border-radius: 3px;
    height: 26px;
    cursor: pointer;
}

