#Dashboard_mainDiv{
    min-height: 100vh;
}
#Dashboard_WrapperDiv{
    height: 300px;
    background: linear-gradient(120deg, #0B9FE1, #003E79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 0px 100px;
}
#Dashboard_listCalendar_Div{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#Dashboard_welcomeText_Div{
    margin: -50px -90px 0 0;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Dashboard_welcomeText_Div p{
    font-size: 0.9rem;
    color: #A1E2FF;
}
#Dashboard_welcomeText{
    font-size: 25px;
}
#Dashboard_gameText{
    width: 5.12rem;
    height: 33px;
    color: #003E79;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    font-size: 0.9rem;
    margin-top: 30px;
}
#Dashboard_listDiv{
    display: flex;
    align-items: center;
    width: 32.37rem;
    height: 39px;
    border: 1px solid #E4F7FF;
    column-gap: 35px;
    border-radius: 7px;
    font-size: 0.9rem;
}
#Dashboard_listDiv button{
   width: 5.12rem; 
   height: 37px;
   color: #003E79;
   background-color: white;
   border-radius: 7px;
   border: none;
}
#Dashboard_CalendarDiv{
    width: 185px;
    height: 39px;
    border-radius: 9px;
    background-color: #FFFFFF;
    color: #003E79;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;
}
#Total_Card_mapDiv{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

