#Delete_Products_mainDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    margin-top: -350px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99;
}
#Delete_Products_wrapperDiv{
    width:480px;
    height: 98px;
    background-color: #FFFFFF;
    /* margin-top: -600px; */
    padding: 10px 14px 0 34px;
    border-radius: 10px;
}
#cancelDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
#cancelDiv button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#Delete_Products_Wrapper{
    width: 32.25rem;
    height: 210px;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-sizing: border-box;
}
#Delete_Products_header{
    height: 46px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left:1.5rem ;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    color: #003E79;
    font-size: 1rem;
}
#Delete_Products_TextDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    
}
#Delete_Products_TextDiv p{
    color: #838282;
    font-size: 0.9rem;
    margin-top: 20px;
    padding: 0 1.5rem;
}
#Delete_Products_WrapperDiv #BtnDiv{
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    border-top: 1px solid #E3E3E3 ;
    padding: 0 30px;
}
#Delete_Products_WrapperDiv #BtnDiv button{
     width: 170px;
     height: 40px;
     border: none;
     border-radius: 7px;
     font-size: 0.9rem;
     color: #FFFFFF;
}
#discard_Btn{
    background-color: #EB3333;
}