#AllAccount_WholeTextDiv{
    width: 100%;
    min-height: 100vh;
}
#All_Accounts_AccountTextDiv{
    height: 240px;
    background: linear-gradient(120deg, #0B9FE1, #003E79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 0px 100px;
}
#All_Accounts_AccountTextDiv #homeText{
    color: #A1E2FF;
    font-size: 0.62rem;   
    text-transform: uppercase;
    margin-top: -20px;
}
#All_Accounts_AccountTextDiv #homeText span{
    color: #75CBF1;
}
#All_Accounts_AccountTextDiv p{
    font-size: 2.5rem;
    color: #FFFFFF;
    height: 30px;
    margin-top: 20px;
}
#list_of_AccountText{
    color: #A1E2FF;
}

#Add_AccountDiv button{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 11.8rem;
    height: 39px;
    background-color: #FFFFFF;
    color: #003E79;
    font-size: 0.9rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#No_Account_DisplayDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#No_Account_DisplayDiv p{
    font-size: 1.3rem;
    color: #353535;
    height: 13px;
    margin-top: 1px;
}
#No_Account_DisplayDiv div{
    width: 406px;
    color: #777777;
    font-size: 0.98rem;
}


#All_Account_mainDiv{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -50px;
}
#All_Account_wrapperDiv{
    width: 87%;
    height: 75vh;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 14px;
}
#All_AccountDiv{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}
#accountText{
    color: #003E79;
    font-size: 1.2rem;
}
#gridDiv{
    width: 180px;
    height: 33px;
    border: 1px solid #E3E3E3;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    border-radius: 7px;
}
#gridDiv button{  
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border: none;
    color: #003E79;
    background-color: #0B9FE1;
    width: 80px;
    height: 27px;
    border-radius: 6px;
}
#All_AccountCardDiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 25px;
}