#Dashboard_MainDiv{
    background-color: #F9F9F9;
    min-height: 100vh;
    width: 100%;
    
}
#Dashboard_WrapperDiv{
    padding: 5rem 8rem 5rem 7.5rem;
}
#Dashboard_CardGraph_Wrapper{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

#Dashboard_Card_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}
.Dashboard_CardDiv{
    width: 49%;
    height: 111px;
    justify-content:space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
}
.Card_figure{
    color: #000000;
    font-size: 1.5rem;
    height: 8px;
}
.Card_text{
    font-size: 1.2rem;
    color: #717171;
}
#BarChart_Div{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    column-gap: 2.5rem;
    align-items: center;
}
#Dashboard_lineChart{
 display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 15.5rem;
}

#Dashboard_RevenueText {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
    margin-bottom: 1rem;
}
#Dashboard_lineChart_Two{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 19.56rem;
}

#Chart_mainDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    height: 19.56rem;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
}

#PayoutsText {
    display: flex;
    margin-bottom: 1rem;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
    
}