#Congratulation_Nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    align-items: center;
}
#Congratulation_Nav div{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    width: 78px;
    height: 33px;
    border: 1px solid #777777;
    border-radius: 8px;
    font-size: 0.75rem;
    color: #003E79;
}
#Congratulation_contentDiv{
    margin-top: -200px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    

}
#Congratulation_contentDiv p{
    width: 28rem;
    color: #969696;
    font-size: 0.9rem;
    text-align: center;
}
#Congratulation_contentDiv div{
    font-size: 1.3rem;
    color: #0095FF;
}
#Congratulation_contentDiv button{
    width: 544px;
    height: 52px;
    font-size: 1rem;
}
 