#HeaderDiv{
    height: 8.12rem;
    /* background: #0E093C; */
    background: url("../../assets/svg/header_img.svg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 0px 7.5rem;
}
#HeaderDiv img{
    height: 10.56rem ;
}
#headerText{
    font-size: 1.56rem;
    color: #FFFFFF;
    height: 30px;
    margin-top: 20px;
}
#HeaderDiv p{
    font-size: 0.9rem;
    color: #FFFFFF;
    line-height: 8px;
}