#Nav_Bar_Wrapper{
    height: 5rem;
    padding: 0px 6rem 0 1.125rem;
    background:url('../../assets/svg/rectangle.png') no-repeat;
    background-size: cover;
    display: flex;
    column-gap: 205px;
    align-items: center;
    color: #E4F7FF;
}
#NavBar_textDiv{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
#NavBar_textDiv #game{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-right: -42px;
}
#NavBar_textDiv img{
    margin-right: 47px;
}
#NavBar_ContactDiv{
    display: flex;
    column-gap: 0.62rem;
    align-items: center;
}
#NavBar_ContactDiv button{
    margin-left: 1.56rem;
    width:  4.88rem;
    height: 2.0rem;
    background-color: #FFFFFF;
    border: none;
    border-radius:0.43rem;
    cursor: pointer;
    color: #003E79;
}
#NavBar_ContactDiv #NavBar_line{
    width: 2px;
    height: 40px;
    background-color: #D9D9D9;
}
/* #settingDiv{
    display: flex;

} */
.NavBar_text{
    color: #FFFFFF;
    font-size: 1rem;
}
/* #dropdown{
    display: none;
} */
.Nav_styled_Link{
    background-color: rgba(255, 255, 255, .2); 
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 1rem;
    min-width: 6.56rem;
    padding: 1rem;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
}

#dropdown{
    display: none;
}
.NavBar_text:hover #dropdown{
    display: block;
    width: 138px;
    height: 84px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: -50px;
    color: #353535;
    background-color: #FFFFFF;
    border-radius: 1rem;
}
#Business_name_dropdown{

}

ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    justify-content: center;
     list-style: none;
}
#dropdown li{
    display: flex;
    /* column-gap: 0.5rem; */
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: #000000;
}
#NavBar_businessName{
    width: 10rem;
}
#Business_name_dropdown{
    display: none;
}
.NavBar_text:hover #Business_name_dropdown{
    display: block;
    height: 84px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -2rem;
    margin-left:1rem;
    color: #FFFFFF;
    border-radius: 1rem;
}

.radioInput{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #003E79;
}



#dropdown input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    cursor: pointer;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
  }

#dropdown input[type="radio"] {
    display: grid;
    place-content: center;
  }
  
#dropdown input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  } 
