#Nav_Bar_Wrapper{
    height: 5.5rem;
    padding: 0px 7.5rem 0 1.125rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#NavBar_textDiv{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
#NavBar_textDiv #game{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    margin-right: -3.5rem;
}
#NavBar_textDiv img{
    margin-right: 2.6rem;
    box-sizing: border-box;
}
#NavBar_ContactDiv{
    display: flex;
    column-gap: 1.8rem;
    align-items: center;
    color: #0E093C;
}
#NavBar_ContactDiv #NavBar_line{
    width: 2px;
    height: 2.5rem;
    background-color: #0E093C;
}
.NavBar_text{
    color: #0E093C;
    font-size: 1rem;
}
.Nav_styled_Link{
    background-color: #0E093C;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 1rem;
    min-width: 5rem;
    padding: 1rem;
    box-sizing: border-box;
    height: 2.18rem;
    border-radius: 7px;
}
#NavBar_lastlineDiv{
    display: flex;
    column-gap: 0.62rem;
}

#dropdown{
    display: none;
}
.NavBar_text:hover #dropdown{
    display: block;
    width: 138px;
    height: 84px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: -50px;
    color: #353535;
    background-color: #FFFFFF;
    border-radius: 1rem;
}
.Nav_styled_Link:hover #dropdown{
    display: block;
    width: 138px;
    height: 84px;
    display: flex;
    justify-content: center;
    position: absolute;
    /* margin-left: -50px; */
    color: #353535;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin-top: 7.2rem;
}

ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    justify-content: center;
    list-style: none;
}
#dropdown li{
    text-align: left;
    font-size: 1rem;
    color: #000000;
}
#NavBar_businessName{
    width: 10rem;
}
#Business_name_dropdown{
    display: none;
}
.NavBar_text:hover #Business_name_dropdown{
    display: block;
    height: 84px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -2rem;
    margin-left:1rem;
    color: #FFFFFF;
    border-radius: 1rem;
}
#Alphabet{
    color: #ccc;
}