#Queries_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}
#Queries_wrapperDiv{
    padding: 3rem 7.5rem 20rem;
}
#Queries_headerText{
    color: #232323;
    font-size: 1.3rem;
    font-weight: 500;
}
#Queries_mapDiv{
    display: flex;
    column-gap: 1.25rem;
}

#AssignedTicket_textDiv {
    display: flex;
    justify-content: space-between;
    color: #232323;
    font-size: 1rem;
    font-weight: 600;
}

.ticketButton {
    color: #232323;
    border: none;
    font-size: 1.12rem;
    background-color: transparent;
}

.toggle_buttonActive {
    color: #616FEC;
    background-color: transparent;
    font-size: 1.12rem;

    border: none;
    border-bottom: 1px solid #616FEC;

}

#ticketButtonDiv {
    display: flex;
    column-gap: 1.5rem;
}

#searchDiv img {
    position: absolute;
    width: 15px;
    left: 1rem;
    top: 1.8rem;
    fill: #9e9ea7;
}

#searchDiv {
    margin-top: -0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#searchDiv input {
    width: 11.3rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    padding-left: 2.5rem;
}

#Ticket_HeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#Dashboard_TicketWrapperDiv {
    width: 100%;
    height: 25.12rem;
    background-color: #FFFFFF;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

#ticketTable_wrapperDiv table {
    width: 100%;
}

#ticketTable_wrapperDiv #headerTable {
    height: 3rem;
    color: #000000;
    font-size: 1.2rem;
    font-weight: lighter;
}

#ticketTable_wrapperDiv td img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

#ticketTable_wrapperDiv tr {
    height: 5.5rem;
    border-bottom: 1px solid #c5c4c4;
}
#ticketTable_wrapperDiv th, td{
    padding: 0 1rem;
}
#ticketTable_wrapperDiv th{
    text-align: left;
}


#CustomerCare_Progress_Wrapper{
    background-color: #FFFFFF;
    width: 100%;
    height: 25.12rem;
    padding: 2rem;
    padding-top: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
#CustomerCare_textDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #000000;
}
#monthDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #000000;
    column-gap: 0.8rem;
}
.Staff_progress{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 #Staff_details{
     display: flex;
     justify-content: space-between;
 }
 #Staff_details p{
     color: #000000;
 }
#imgDiv{
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 0.9rem;
     font-size: 1rem;
     color: #000000;
}
#imgDiv p{
     width: 6rem;
 }
 .Staff_progress #progressDiv{
     height: 0.62rem;
     width: 100%;
     background-color: #075070;
     border-radius: 0.62rem;
     margin-bottom: 2rem;
 }
 #Query_satisfaction_wrapperDiv{
    /* width: 100%; */
    display: flex;
    column-gap: 3rem;
    margin-top: 2.5rem;
 }
 .Ticket_entireDiv{
    width: 100%;
}

#Query_incomingTextDiv{
    display: flex;
    justify-content: space-between;
    color: #1A1A1A;
    font-size: 1.56rem;
    margin-top: 8rem;
    box-sizing: border-box;
}
#search_filterDiv{
    display: flex;
    column-gap: 1.87rem;
    align-items: center;
}
#search_filterDiv input{
    width: 23.56rem;
}
#Queries_tableWrapperDiv{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-sizing: border-box;
}
#Queries_tableWrapperDiv #headerTable {
    height: 4.5rem;
    color: #000000;
    font-size: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid #C4C4C4;
}
 #Queries_tableWrapperDiv table {
    width: 100%;
    border-collapse: collapse;
}
#Queries_tableWrapperDiv .tableText {
    color: #262626;
    font-weight: bold;
}

#Queries_tableWrapperDiv tr {
    color: #666666;
    font-size: 0.95rem;
    height: 11rem;
    border-bottom: 1px solid #C4C4C4;
}


#Queries_tableWrapperDiv th,
td {
    padding: 0 1.5rem;
    box-sizing: border-box;

}

#Queries_tableWrapperDiv th {
    text-align: left;
} 

.statusText {
    background-color: rgba(252, 158, 47, 0.2);
    border: none;
    color: #FC9E2F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.81rem;
    width: 4.25rem;
    border-radius: 0.25rem;
    height: 1.62rem;
}
#statusText2{
    background-color:rgba(49, 195, 100, .2);
    border: none;
    color: #31C364;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.81rem;
    width: 4.25rem;
    border-radius: 0.25rem;
    height: 1.62rem;
}

.tableWrapperDiv tr{
    color: #666666;
    font-size: 0.95rem;
    height: 7.6rem;
    border-bottom: 1px solid #C4C4C4;
}