#PlaceBet_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}
#PlaceBet_wrapperDiv{
    padding: 3rem 7.5rem;
}

#Total_Card_mapDiv{
    display: flex;
    column-gap: 32px;
}
#PlaceBet_summaryText{
    color: #1A1A1A;
    font-size: 1.55rem;
    line-height: 38px;
}
#ChartDiv{
    width: 1290px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
#ChartDiv img{
    margin-top: -13px;
    width: 615px;
    height: 350px;
}