#PlaceBet_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}
#PlaceBet_wrapperDiv{
    padding: 3rem 7.5rem;
}

#Total_Card_mapDiv{
    display: flex;
    column-gap: 2rem;
}
#PlaceBet_summaryText{
    color: #1A1A1A;
    font-size: 1.55rem;
    line-height: 38px;
}
#ChartDiv{
    width: 79.68rem;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
#ChartDiv img{
    margin-top: -13px;
    width: 615px;
    height: 350px;
}


#Chart_mainDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 38.43rem;
    height: 19.56rem;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
}

#PayoutsText {
    display: flex;
    /* margin: 0 30px; */
    margin-bottom: 1rem;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
    
}


#Dashboard_RevenueText {
    display: flex;
    /* margin: 0  1rem; */
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #E3E3E3;
    font-size: 1.125rem;
    color: #003E79;
    margin-bottom: 1rem;
}
#Dashboard_lineChart_Two{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #F0F0F0;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 38.43rem;
    height: 19.56rem;
}