#App_Pagination_mainDiv{
    width: 100%;
    height: 100%;
    color: black;
}
#Style2 {
    display: flex;
    flex-direction: row;
}
#Style2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}
/* #Style2 ul{
    width: 100px;
    display: flex;
} */

