#Transaction_Div{
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
}
#Transaction_mainDiv{
    margin-top: 6.8rem;
}
#Transaction_listCalendar_Div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

#Transaction_welcomeText{
    font-size: 25px;
}
#Transaction_listDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.37rem;
    height: 49px;
    background-color: #EFEFEF;
    column-gap: 16px;
    border-radius: 8px;
}
.Transaction_listDiv_button{
    border: none;
    color: #666666;
    font-size: 0.9rem;
    background-color: transparent;
}
.toggleDiv_buttonActive{
    min-width: 50px;
    background-color: #003E79;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 8px;
    height: 33px;
    font-size: 0.9rem;
}
#CardDiv{
    display: flex;
    column-gap: 20px;
    height: 150px;
    margin-left: 100px;
    box-sizing: border-box;
}
#Transaction_mainDiv{
    display: flex;
    justify-content: center;
}
#Transaction_tableWrapperDiv{
    width: 85%;
    height: 70vh;
    background-color: #FFFFFF;
    /* border: 1px solid #F0F0F0; */
    border-radius: 14px;
}
#input_FilterDiv{
    display: flex;
    align-items: center;
    column-gap: 6px;
}
#input_FilterDiv p{
    font-size: 0.932rem;
    color: #707070;
    width: 100px;
}
#input_FilterDiv input{
    width: 18.87rem;
    height: 39px;
}
#input_FilterDiv img{
    height: 39px;
}
#TransactionText{
    color: #003E79;
    font-size: 1.2rem;
    padding:1.6rem 1.5rem 0.7rem ;
    box-sizing: border-box;
}
#TransactionText span{
    color: #0B9FE1;
}
#Transaction_tableWrapperDiv table{
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1.5rem;
} 
#statusText{
    width: 3.2rem;
    height: 26px;
    background-color: rgba(49, 195, 100, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px; 
    box-sizing: border-box;
    color: #31C364;
}
#statusText_lost{
    width: 3.2rem;
    height: 26px;
    background-color: rgba(17, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px; 
    box-sizing: border-box;
    color: #110000;
}
#Transaction_tableWrapperDiv th, td{
    padding: 0 40px;
    color: #666666;
}
#Transaction_tableWrapperDiv th{
    text-align: left;
}
#Transaction_tableWrapperDiv tr{
    height: 58px;
    border-bottom: 1px solid #E3E3E3;
}
#Transaction_tableWrapperDiv #line{
    border-bottom: none;
}


#searchDiv{
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#searchDiv img{
    position: absolute;
    top: 1rem;
    width: 15px;
    left: 1rem;
    fill: #9e9ea7;   
}
#searchDiv input{
    padding-left:40px ;
    height: 39px;
    
}