#Product_Confirm_mainDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.3);
    margin-top: -555px;
    box-sizing: border-box;
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
}

#Product_Confirm_Wrapper{
    width: 35.25rem;
    height: 210px;
    background-color: #FFFFFF;
    border-radius: 9px;
}
#Product_Confirm_header{
    height: 46px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left:1.5rem ;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    color: #003E79;
    font-size: 1rem;
}
#Product_Confirm_TextDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    padding: 0 1.5rem;
}
#Product_Confirm_TextDiv p{
    color: #969696;
}
#Product_Confirm_WrapperDiv #BtnDiv{
    display: flex;
    justify-content: end;
    column-gap: 10px;
}
#Product_Confirm_WrapperDiv #BtnDiv button{
     width: 170px;
     height: 40px;
     border: none;
     border-radius: 7px;
     font-size: 0.9rem;
     color: #FFFFFF;
}
#discard_Btn{
    background-color: #EB3333;
}