#Dice_BetPlaced_mainDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #F9F9F9;
}
#Dice_BetPlaced_wrapperDiv{
    padding: 5rem 7.5rem;
}
#Dice_BetPlaced_headerText{
    font-size:1.1rem ;
    color:#003E79;
    padding-left: 3.5rem;
}
#Dice_BetPlaced_headerText span{
    color: #7429E8;
}
.Dice_BetPlaced_button{
    border: none;
    color: #666666;
    font-size: 0.9rem;
    background-color: transparent;
}
.toggleDiv_buttonActive{
    min-width: 2.3rem;
    background-color: #0E093C;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 0.9rem;
}
#winners_background{
    width: 97%;
    text-align: center;
    margin-bottom: -2rem;
}
#winner_imgDiv{
    text-align: center;
}
#Dice_BetPlaced_tableWrapperDiv{
    position: relative;
    padding-top: 2.5rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFFFF;
}
#Dice_BetPlaced_listCalendar_Div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    box-sizing: border-box;
}
#Dice_BetPlaced_listDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.93rem;
    height: 3rem;
    background-color: #EFEFEF;
    justify-content: space-between;
    padding: 0.62rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}


#Amount_Paid_input_FilterDiv{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

}
#Amount_Paid_input_FilterDiv p{
    font-size: 0.93rem;
    color: #707070;
    height: 0;
    /* display: flex; */
}
#Amount_Paid_input_FilterDiv p img{
    width: 1rem;
}
#Amount_Paid_input_FilterDiv #searchDiv img{
    position: absolute;
    width: 15px;
    padding-left: 0.7rem;
    padding-top: 0.9rem;
}
#searchDiv{
    display: flex;
    align-items: center;
    margin-top: -1rem;
}
#searchDiv input{
    position: relative;
    width: 14.5rem;
    border-radius: 0.75rem;
    padding-left:2.5rem;
    box-sizing: border-box;
    height: 2.43rem;  
}
#imgDiv img{
    height: 2.3rem;
    margin-right: 0.4rem;
    /* margin-bottom: -1rem; */
}
#Dice_BetPlaced_tableWrapperDiv table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2.43rem;
    box-sizing: border-box;
}
#Dice_BetPlaced_tableWrapperDiv #headerTable{
    color: #000000;
    font-size: 1rem;
    background-color: #F1F1F1;
    height: 2.68rem;
    border-bottom: none;
}
#Dice_BetPlaced_tableWrapperDiv td,th{
    padding: 0 2rem;
}
#Dice_BetPlaced_tableWrapperDiv th{
    text-align: left;
}
#Dice_BetPlaced_tableWrapperDiv tr{
    height: 4.3rem;
    color: #666666;
    font-size: 0.9rem;
}
#Dice_BetPlaced_tableWrapperDiv tr:last-child{
    border-bottom: none;
}
#Dice_BetPlaced_tableWrapperDiv #players_imgDiv{
    display: flex;
    column-gap: 0.5rem;
}
#Dice_BetPlaced_tableWrapperDiv #players_imgDiv img{
    width: 1.12rem;
}
#Dice_BetPlaced_tableWrapperDiv #action_field{
    display: flex;
    column-gap: 0.25rem;
}
#Dice_BetPlaced_tableWrapperDiv #statusText{
    width: 3rem;
    height: 1.62rem;
    background-color: rgba(49, 195, 100, .2);
    color: #31C364;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#statusText_lost{
    width: 3rem;
    height: 1.62rem;
    background-color: rgba(235, 87, 87, .2);
    color: #EB5757;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
