#SignIn_mainDiv{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TextDiv{
    text-align: center;
}
#TextDiv p{
    color: #003E79;
    font-size: 1.25rem;
}
#SignIn_formWrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SignIn_formWrapper #SignIn_inputWrapper{
    display: flex;
    flex-direction: column;
    width: 423px;
}
#inputDiv{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#SignUp_imageDiv{
    flex-grow: 1;
    height: 100vh;
}
#SignUp_imageDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#SignIn_mainDiv #ButtonDiv button{
width: 423px;
margin-top: 60px;
}