/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} */
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Urbanist", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: #FAFAFA; */
}
a{
  text-decoration: none;
  color: #0095FF;
}
