#Winner_loser_mainDiv{
    margin-top: 2.1rem;
    padding-bottom: 50px;
}

#input_FilterDiv{
    display: flex;
    justify-content: center;
    margin-left: -450px;
    align-items: center;
    column-gap: 30px;
}
#input_FilterDiv p{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 0.932rem;
    color: #707070;
    width: 130px;
}
#input_FilterDiv p img{
    width: 20px;
}
#input_FilterDiv input{
    width: 18.87rem;
    height: 39px;
}
#input_FilterDiv img{
    height: 39px;
    margin-right: 12px;
}
#searchDiv{
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#searchDiv img{
    position: absolute;
    top: 1rem;
    width: 15px;
    left: 1rem;
    fill: #9e9ea7;   
}
#searchDiv input{
    width: 14.5rem;
    border-radius: 12px;
    padding-left:40px ;
    box-sizing: border-box;
    height: 39px;  
}
#Winner_loser_wrapper{
   display: flex;
   justify-content: center;
   margin-top: 1rem; 
}
#Winner_loser_tableDiv{
    width: 66.18rem;
    height: 37.37rem;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
}
#statusText{
    width: 3.2rem;
    height: 26px;
    background-color: rgba(49, 195, 100, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px; 
    box-sizing: border-box;
    color: #31C364;
}
#Winner_loser_tableDiv table{
    border-collapse: collapse;
    width: 100%;
} 
#Winner_loser_tableDiv #headerTable{
    background-color: #F1F1F1;
    height: 44px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: lighter;
    /* text-align: left; */
}

#Winner_loser_tableDiv tr{
    color: #666666;
    height: 58px;
    border-bottom: 1px solid #B1B1B1;
} 
#amount_TableText{
    width: 200px;
}
#Winner_loser_tableDiv #lastline{
    border-bottom: none;
}